.authContainer{
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.paper{
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
/* .root{
} */
.avatar{
    margin: 0.5rem;
  }
.form{
    width: 'auto';
    margin-top: 0.8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
  }
.inputContainer{
    border-radius: 4px;
    z-index: 0;
}
.googleButton{
    width: 100%;
}